/* CONTACT PAGE */

.contact{
    max-width:500px;
    margin:120px auto 50px;
    padding:20px;
    background:white;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    margin-top: 600px;
}

.contact h1{
    text-align:center;
    margin-bottom:6px;
}

.contact p{
    text-align:center;
    margin-bottom:20px;
    color:#666;
}

.contact-form{
    display:flex;
    flex-direction:column;
    gap:5px;

}

.contact-form input,
.contact-form textarea{
    width:100%;
    padding:12px;
    border:1px solid #ddd;
    border-radius:5px;
    font-size:16px;
}

.contact-form textarea{
    resize:none;
}

.contact-form .btn{
    background:black;
    color:white;
    border:none;
    padding:12px;
    cursor:pointer;
    border-radius:5px;
}

.contact-form .btn:hover{
    background:#333;
}

@media screen and (max-width:768px){

    .menu-toggle{
        display:block;
    }

    .sidebar{
        position:fixed;
        top:0;
        left:-250px;
        width:250px;
        height:100%;
        transition:0.3s;
        z-index:1000;
    }

    .sidebar.active{
        left:0;
    }

    .main{
        width:100%;
        margin-left:0;
    }

    .contact-form{
        display:flex;
        flex-direction:column;
        gap:2px;


    }

    .contact{

        padding:20px;
        background:white;
        border-radius:10px;
        box-shadow:0 5px 15px rgba(0,0,0,0.1);
        margin-top: 290px;
    }
}
