.card{
    border:none;
    border-radius:12px;
}

.card-body h2{
    font-size:35px;
    font-weight:bold;
}

.table th{
    text-align:center;
}

.table td{
    text-align:center;
    vertical-align:middle;
}

.btn{
    margin:2px;
}

.badge{
    font-size:13px;
    padding:7px 12px;
}
