*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}
.menu-toggle{
    display:none;
    font-size:30px;
    padding:10px;
    background:#0f172a;
    color:white;
    cursor:pointer;
}

@media screen and (max-width:768px){

    .menu-toggle{
        display:block;
    }

    .sidebar{
        position:fixed;
        top:0;
        left:-250px;
        width:250px;
        height:100%;
        transition:0.3s;
        z-index:1000;
    }

    .sidebar.active{
        left:0;
    }

    .main{
        width:100%;
        margin-left:0;
    }
}
body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#f5f5f5,#dcdcdc);
}
body{
    margin:0;
}
/* Desktop */
.container {
    width: 80%;
    margin: auto;
}

h1 {
    font-size: 40px;
}


.navbar{
    margin-right:2px;
    display:flex;
    gap:30px;
    padding:20px;
    background:#fff;
    position:fixed;
    top:0;
    left:0;
    width:100%;
}

.login-container{
    margin-top:100px; /* navbar එකට යටින් form එක පෙන්වන්න */
}
.register-container{
    margin-left:10px;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.register-box{
    margin-top: 390px;
    width:400px;
    height:550px;
    background:#fff;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,0.15);
}

.register-box h2{
    text-align:center;
    margin-bottom:10px;
}

.register-box p{
    text-align:center;
    color:#666;
    margin-bottom:25px;
}

.input-group{
    margin-bottom:20px;
}

.input-group label{
    display:block;
    margin-bottom:8px;
    font-weight:bold;
}

.input-group input{
    width:100%;
    padding:7px;
    border:1px solid #ccc;
    border-radius:8px;
    outline:none;
}

.input-group input:focus{
    border-color:black;
}

.register-btn{
    width:100%;
    padding:12px;
    background: #492525;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

.register-btn:hover{
    background:#333;
}

.extra-links{
    text-align:center;
    margin-top:20px;
}

.extra-links a{
    text-decoration:none;
    color:black;
}

.extra-links p{
    margin-top:10px;
}

.product-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.product-top img{
    width:100%;
    height:auto;
}
/* MOBILE HEADER */
.mobile-header{
    display:none;
}



/* Mobile */
@media screen and (max-width:768px){

    body{
        flex-direction:column;
    }

    .sidebar{
        width:100%;
        height:auto;
    }

    .main{
        width:100%;
        padding:15px;
    }

    .header{
        flex-direction:column;
        align-items:flex-start;
        gap:10px;
    }

    .cards{
        grid-template-columns:1fr;
    }

    .product-grid{
        grid-template-columns:1fr;
    }
}
/* MOBILE HEADER */
.mobile-header{
    display:none;
}

@media screen and (max-width:991px){

    .mobile-header{
        display:flex;
        justify-content:space-between;
        align-items:center;

        padding:20px;

        background:#08142d;

        color:white;
    }

    /* hidden by default */
    .sidebar{

        display:none;

        background:#08142d;

        width:100%;
    }

    .sidebar.active{
        display:block;
    }

    .nav-links{
        display:flex;

        flex-direction:column;

        gap:0;
    }

    .nav-links li{
        list-style:none;
    }

    .nav-links a{

        display:block;

        padding:15px;

        color:white;

        text-decoration:none;

    }

    .icons{
        padding:15px;
        color:white;
    }

    /* desktop nav hide */
    .navbar{
        display:block;
    }




}

/* Footer */
.footer{
    width:100%;
    background:#222;
    color:#fff;
    display:flex;
    margin-top: 30px;

}

.footer-container{
    max-width:1200px;
    margin:auto;
    padding:40px 20px;
    display:flex;
    justify-content:space-between;
    gap:30px;
    flex-wrap:wrap;

}

.footer-section{
    flex:1;
    min-width:250px;
}

.footer-section h3{
    margin-bottom:15px;
}

.footer-section p,
.footer-section li{
    color:#ddd;
    margin-bottom:10px;
}

.footer-section ul{
    list-style:none;
}

.footer-section a{
    color:#ddd;
    text-decoration:none;
}

.footer-section a:hover{
    color:#fff;
}

.footer-bottom{
    text-align:center;
    padding:15px;
    border-top:1px solid #444;
}
